[submodule "tests/fixtures/shared-test-files"]
	path = tests/fixtures/shared-test-files
	url = https://github.com/oxibus/shared-test-files
[submodule "tests/fixtures/opendbc"]
	path = tests/fixtures/opendbc
	url = https://github.com/commaai/opendbc.git
