**/*.bak
**/*.rs.bk
*.pdb
.envrc
.idea/
.vscode/
debug/
target/
temp/
tmp/
venv/
tests-snapshots/opendbc/**/*.snap
tests-snapshots/opendbc/**/*.rs

# FIXME: This is a library, we may consider removing the lock file
#Cargo.lock
