**/*.bak
**/*.rs.bk
*.iml
*.pdb
.DS_Store
.envrc
.idea/
.vscode/
codecov
codecov.SHA256SUM*
debug/
flamegraph*.svg
perf.data*
target/
temp/
tmp/
venv/
tests-snapshots/opendbc/**/*.snap
!tests-snapshots/opendbc/**/!error_*.snap
tests-snapshots/opendbc/**/*.rs
